.one{
  background-color:rgb(91, 132, 209);
  height:1000px;
  color:skyblue;
  
}
.abc{
  text-align:center;
  padding-left:50%;
 margin-right
 :10px;
}
.ghf{
  text-align:center;
  padding-left:180px;
}
.two{
  border:1px solid black;
}

.zip{
  border:2px solid black;
  background-color:beige;
}
.are{
  background-color:cornsilk;
  height:1000px ;
}
.for{
  background-color: pink;
  height:350px;
  margin-left:400px;
  width:550px;
}
.you{
  background-color: cyan;
  height: 1000px;
}
